audio_a_texto.json
{
  "name": "Audio a texto",
  "nodes": [
    {
      "parameters": {},
      "id": "393b5cce-734a-41a1-b505-c7d49832633e",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        340,
        420
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "29000211-5459-4065-a992-1bcda2629bde",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        340,
        240
      ],
      "webhookId": "5a4f3986-147a-4453-98e2-3f5c77b22b38"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audio",
        "options": {}
      },
      "id": "6589cf77-7712-4dfc-b75b-0b1cee55cdc6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -60,
        240
      ],
      "webhookId": "2983209d-54e0-4749-9dde-c6e374e4bdae"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "04708c63-4290-458e-aed8-518647391de9",
              "leftValue": "={{ $json.body.messages[0].attachments[0].file_type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f40482d6-f7da-4094-88fe-b1e4cf328538",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        120,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.messages[0].attachments[0].data_url }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "file"
            }
          }
        }
      },
      "id": "e4ea0e3e-e98c-4e74-8a7f-d811905d86ff",
      "name": "GET audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        540,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "model",
              "value": "whisper-1"
            }
          ]
        },
        "options": {}
      },
      "id": "b29aa0c4-6596-469e-b1a6-15f9d1a0333e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        740,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "37sF4zqgQlgBUDen",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://uno.weppa.co/api/v1/accounts/1/conversations/{{ $('Webhook').item.json.body.contact_inbox.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.text }}"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "91311d3f-3f7c-40c7-987e-c6cb15c37b02",
      "name": "Enviar mensaje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vgHPnyVUgWJnYYwB",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "GET audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Enviar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31f66967-f42c-4e37-9c53-cb8e1f64910e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a8d395d5d82da0c70e07d0056bcbe0ef33383aafddaf64b7f2cbed73f2fec79"
  },
  "id": "iVnTb7QsZ7rMXHkD",
  "tags": []
}